absl-py
alembic
aniso8601
annotated-types
anyio
asttokens
astunparse
attrs
bidict
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
Cython
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
distlib
dnspython
email-validator
eventlet
executing
fastapi
filelock
Flask
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Minify
flask-restx
Flask-SocketIO
Flask-WTF
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
gunicorn
h11
h5py
htmlmin
idna
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsmin
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras==2.15.0
lesscpy
libclang
Mako
Markdown
MarkupSafe
matplotlib-inline
ml-dtypes
nest-asyncio
numpy==1.26.3
oauthlib
opt-einsum
packaging
panda
pandas
parso
pipenv
platformdirs
plotly
ply
prompt-toolkit
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
pydantic
pydantic_core
Pygments
pymongo
pytz
pywin32
pyzmq
rcssmin
referencing
requests
requests-oauthlib
retrying
rpds-py
rsa
scapy
scikit-learn==1.4.1.post1
scipy==1.12.0
simple-websocket
six
sniffio
stack-data
starlette
tenacity
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
urllib3
uvicorn
virtualenv
wcwidth
Werkzeug
wrapt
wsproto
wtf
WTForm
WTForms
xxhash
zipp
gevent>=1.4
