absl-py
alembic
aniso8601
annotated-types
anyio
asttokens
astunparse
attrs
bidict
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
Cython
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
distlib
dnspython
email-validator
eventlet
executing
fastapi
filelock
Flask
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Minify
Flask-PyMongo
flask-restx
Flask-SocketIO
Flask-WTF
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h11
h5py
htmlmin
idna
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsmin
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
lesscpy
libclang
Mako
Markdown
MarkupSafe
matplotlib-inline
ml-dtypes
nest-asyncio
oauthlib
opt-einsum
packaging
panda
parso
platformdirs
plotly
ply
prompt-toolkit
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
pydantic
pydantic_core
Pygments
pymongo
python-dateutil
python-dotenv
python-engineio
python-socketio
pytz
pyzmq
rcssmin
referencing
requests
requests-oauthlib
retrying
rpds-py
rsa
scapy
simple-websocket
six
sniffio
stack-data
starlette
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
termcolor
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
urllib3
uvicorn
virtualenv
wcwidth
Werkzeug
wrapt
wsproto
wtf
WTForm
WTForms
xxhash
zipp
gevent>=1.4
tensorflow-io-gcs-filesystem>=0.21.0,<0.22.0
