<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Pages / F.A.Q Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="">
        <span class="d-none d-lg-block">Firewall WAF</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

      
>

          

         
            

    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>

      <li class="nav-item">
        <a class="nav-link " href="pages-faq.html">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-contact.html">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-login.html">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Frequently Asked Questions</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Frequently Asked Questions</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section faq">
      <div class="row">
        <div class="col-lg-12">

          <div class="card basic">
            <div class="card-body">
              <h5 class="card-title">Basic Questions</h5>

              <div>
                <h6>1. What is WAF Firewall and why do I need it?</h6>
                <p>WAF Firewall is a specialized security solution designed to protect web applications from a wide range of cyber threats and vulnerabilities.

                  Web applications are constantly targeted by attackers using techniques like SQL injection, Cross-Site Scripting (XSS), Command Injection, File Inclusion and DDoS. A WAF Firewall is essential for identifying and blocking these attacks, thus safeguarding your web application and sensitive data from exploitation.</p>
              </div>

              <div class="pt-2">
                <h6>2. How does WAF Firewall work?</h6>
                <p>A WAF operates as a shield between web applications and the internet, examining and filtering HTTP traffic to identify and block potential cyber threats. Here's a breakdown of how WAF Firewalls typically work:

                   When web traffic enters your network, the WAF Firewall intercepts and inspects each HTTP request and response passing through it. This inspection occurs at the application layer (Layer 7 of the OSI model), allowing the firewall to analyze the content and structure of the web traffic in detail.</p>
              </div>

              <div class="pt-2">
                <h6>3. What are the benefits of using WAF Firewall?</h6>
                <p>WAF offers several benefits. Firstly, it fortifies web applications against a spectrum of cyber threats, including SQL injection and cross-site scripting, thus safeguarding sensitive data and user privacy. Secondly, it ensures compliance with industry regulations like PCI DSS and GDPR. Lastly, WAFs provide continuous monitoring and real-time threat detection, offering proactive defense against evolving cyber threats, enhancing overall cybersecurity posture.</p>
              </div>

            </div>
          </div>

          <!-- F.A.Q Group 2 -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Getting started with WFA Firewall</h5>

              <div class="accordion accordion-flush" id="faq-group-2">

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-1" type="button" data-bs-toggle="collapse">
                      Can WAF Firewall protect against emerging threats?
                    </button>
                  </h2>
                  <div id="faqsTwo-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                    <div class="accordion-body">
                       Absolutely! WAF Firewalls are equipped to defend against emerging threats through regular updates and adaptive mechanisms. By continually updating their Model and algorithms, WAF Firewalls can effectively identify and mitigate evolving cyber threats. This proactive approach ensures that your web applications remain protected against the latest attack techniques, offering robust security even in the face of rapidly changing cybersecurity landscapes.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-2" type="button" data-bs-toggle="collapse">
                      Does WAF Firewall affect website performance?
                    </button>
                  </h2>
                  <div id="faqsTwo-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                    <div class="accordion-body">
                      WAF Firewalls are designed to minimize performance impact on websites. While there may be a slight overhead due to traffic inspection, modern WAF solutions optimize performance through techniques like caching and request prioritization. By efficiently processing and filtering traffic, WAF Firewalls ensure that the impact on website performance is minimal, allowing for both effective security and smooth user experience.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-3" type="button" data-bs-toggle="collapse">
                      What level of support is provided for WAF Firewall?
                    </button>
                  </h2>
                  <div id="faqsTwo-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                    <div class="accordion-body">
                      WAF Firewall, comprehensive support services are offered to ensure optimal performance and security. This includes technical assistance from a dedicated support team proficient in resolving any issues or queries you may encounter. Additionally, regular updates and maintenance are provided to keep your firewall equipped with the latest threat intelligence and software enhancements. Service level agreements (SLAs) guarantee timely response and resolution times, ensuring reliable support whenever needed.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-4" type="button" data-bs-toggle="collapse">
                      What’s a firewall policy?
                    </button>
                  </h2>
                  <div id="faqsTwo-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                    <div class="accordion-body">
                      In the context of your WAF Firewall, a firewall policy refers to a  configurations that dictate how traffic is managed and secured. These policies outline the criteria for allowing or blocking incoming and outgoing traffic  behavior of your WAF to suit your specific security requirements and effectively mitigate threats such as SQL injection, command injection, cross-site scripting, and DDoS attacks. With the integration of neural network models, your firewall policies can be enhanced to adaptively identify and respond to emerging threats in real-time, ensuring robust protection for web applications.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-5" type="button" data-bs-toggle="collapse">
                      Is WAF Firewall compliant with industry regulations and standards?
                    </button>
                  </h2>
                  <div id="faqsTwo-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                    <div class="accordion-body">
                      WAF Firewall is designed to comply with industry regulations and standards governing web application security. This includes regulations such as PCI DSS (Payment Card Industry Data Security Standard), HIPAA (Health Insurance Portability and Accountability Act), GDPR (General Data Protection Regulation), and others relevant to your industry and geographic location. By adhering to these standards, your WAF Firewall helps ensure the confidentiality, integrity, and availability of sensitive data, mitigating the risk of data breaches and regulatory non-compliance. Additionally, regular updates and compliance checks are conducted to maintain alignment with evolving regulatory requirements and best practices.

                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div><!-- End F.A.Q Group 2 -->

        </div>

      </div>
    </section>

  </main><!-- End #main -->

<footer id="footer" class="footer">
  <div class="footer-content">
    <img src="{{ url_for('static', filename='blob.jpeg') }}" alt="" class="footer-logo">
    <div class="copyright">
      &copy; Copyright <strong><span>Firewall WAF</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      
    </div>
  </div>
</footer>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/chart.js/chart.umd.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/echarts/echarts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/quill/quill.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/tinymce/tinymce.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
  <script>document.addEventListener("DOMContentLoaded", () => {
    const sidebarToggleBtn = document.querySelector('.toggle-sidebar-btn');
    const sidebar = document.querySelector('#sidebar');

    const toggleSidebar = (event) => {
      event.preventDefault();
      event.stopPropagation();
      sidebar.classList.toggle('active');
    };

    sidebarToggleBtn.addEventListener('click', toggleSidebar);
    sidebarToggleBtn.addEventListener('touchend', toggleSidebar);
});
</script>
</body>

</html>
